server:
  port: 9296

spring:
  application:
    name: CONFIG_SERVER
  cloud:
    config:
      server:
        git:
          uri: https://github.com/kuhnxia/spring-app-config.git
          clone-on-start: true
